.searchContainer {
    background-color: #2A3236;
    width: 25%;
    height: 70%;
    border-radius: 2rem;
    display: inline-flex;
    align-content: center;
    flex-wrap: wrap;
    top: .4rem;
    position: relative;
    left: 20%;
}

.searchBar {
    background-color: #2A3236;
    border: none;
    width: 85%;
    height: 1.5rem;
    position: relative;
    left: .7rem;
    outline: none;
    color: #CACCCD;
}

.searchIcon {
    color: #CACCCD;
    height: 1.5rem;
    width: auto;
    position: relative;
    left: .5rem;
}

.form {
    width: 80%;
}