.postContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #121212;
    color: #cacccd;
    height: fit-content;
    padding: 1rem;
    border-bottom: 1px solid #2A3236;
}

.user {
    display: flex;
    width: 100%;
    height: 2rem;
}

.userProfilePic {
    width: auto;
    height: 100%;
    margin-right: .5rem;
}

.userProfileName {
    font-size: smaller;
    margin: 0;
    align-content: center;
}

.title {
    width: 100%;
    margin: .5rem 0 1rem;
    height: fit-content;
}

.textContainer {
    height: fit-content;
    max-height: 10rem;
}

.text {
    height: fit-content;
    overflow-y: scroll;
    margin: 0 0 1rem;
    max-height: 10rem;
}

::-webkit-scrollbar {
    color: transparent;
    width: 0px;
}

.thumbnailContainer {
    width: 100%;
    height: fit-content;
    justify-content: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
}

.thumbnail {
    height: 100%;
    width: 80%;
    
}


.thumbnailImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    z-index: 1;
}

.blurBackground {
    position: absolute;           
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;      
    background-position: center;  
    filter: blur(20px);           
    z-index: 0;                  
}

.postData {
    display: inline-flex;
    margin-top: 1rem;
}

.data {
    margin: 0 1rem;
    position: relative;
    left: .2rem;
}

.ups {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 1rem;
    height: 1.5rem;
    background-color: #2A3236;
    border-radius: 2rem;
    padding: .3rem 0;
}

.downs {
    display: inline-flex;
}

.comments {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 1rem;
    height: 1.5rem;
    background-color: #2A3236;
    border-radius: 2rem;
    padding: .3rem 0;
}

.arrow {
    scale: 200%;
    margin-left: .5rem;
    position: relative;
    top: .2rem;
    left: .3rem;
}

.comment {
    scale: 150%;
    margin-left: .5rem;
    position: relative;
    top: .2rem;
    left: .3rem;
    
}