.body {
  display: flex;
  background-color: #121212;
}



html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent scrolling */
}

#root, .App {
  height: 100vh; /* 100% of the viewport height */
  width: 100vw;  /* 100% of the viewport width */
  overflow: hidden; /* Prevent any scrolling */
}

#root {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}